/*

Aqui manejaremos nuestras modificaciones de estilo.

*/

body{
    height: 100%;
    
}

p{
    text-align: center;
}

header{
    padding-left: 2%;
    margin: 4%;
    height: 70px;
}

header h1{
    position: relative;
    top: 3%;
    right: 45%;
}


main{
    margin:4px;
}

#contenido{
    padding-left: 5px;
    margin: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#textoYBotones{
    width: 60%;
    margin-left: 3%;
    bottom: 0;
}

.areaDeTexto{
    margin: 5px;
    width: 90%;
    height: 249px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 90%;
    max-height: 250px;
    resize: none;
      
}

.botones{
    display:flex;
    justify-content:space-around;
}

button{
    margin: 2px;
    width: 80%;
    height: 67px;
    margin-left: 10%;
    margin-right: 2%;
}

.advertencia{
    font-size: 12px
}

aside{
    border-radius: 5px;
    border: 2px solid black;
}

aside p{
    margin: 5px; 
}

#areaDeTextoAlterado{
    margin: 5px;
    width: 99%;
    height: 20%;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 90%;
    max-height: 250px;
    resize: none;
}

#copiar{
    width: 80%;
    max-height: 70%;
}

footer{
    text-align: center;
    margin: 0 4px 4px 4px;
}


html {
  font-size: 20px;
}
  

.Encriptador, .Desencriptador, #copiar{
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(0, 102, 255);
    border:none;
    border-radius: 10px;
    transition: 1s all;
    cursor:pointer;
}
@media (max-width: 768px) {
    #muneco { display: none; }
    aside{
        margin-top: 4px;
        border: 2px solid rgb(119, 108, 108);
        width: 70%;
        height: 100px;
        font-size: 18px;
    }
}
  